<div class="login-container">

    <div id="title">
        <h1>Ωmega.bank</h1>
    </div>

    <div>
        <mat-card>
            <mat-card-content>
                <form [formGroup]="formlogin">
                    <h2>Login</h2>
                    <mat-form-field appearance="outline">
                        <mat-label>Enter your username</mat-label>
                        <input formControlName="usuario" matInput placeholder="Username" required>
                        <mat-error>
                            Please provide a valid email address
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-error>
                            Please provide a valid password
                        </mat-error>
                        <mat-label>Enter your password</mat-label>
                        <input formControlName="senha" matInput placeholder="Password"
                            [type]="hide ? 'password' : 'text'" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <button (click)="signin()" routerLink="#" mat-raised-button color="primary">Login</button>
                </form>
            </mat-card-content>
        </mat-card>

        <div class="login-footer">
            <div>Forgot <a href="#">Password?</a></div>
            <div>Don't have an Account? <a routerLink="register" href="#">Sign Up</a></div>
        </div>
    </div>

</div>

<app-footer></app-footer>